<nav class="bg-blue-500 p-4 text-white flex justify-between rounded">
    <a href="/" class="text-lg font-bold">Blog Application</a>
    <div>
        <a href="/blogs" class="mr-4">Blogs</a>
        <a href="/logout" class="mr-4">Logout</a>
    </div>
</nav>
