<div class="w-full  bg-gray-400 p-4 flex item-center justify-between text-white">
        
    <h1 class="text-3xl">BLOG</h1>
    <div class="flex item-center justify-center gap-4">

        <a href="/login" class="font-semibold border-2 border-black rounded-xl px-3 hover:bg-blue-500 hover:border-white flex items-center justify-center">Login</a>
        <a href="/sign-up" class="font-semibold border-2 border-black rounded-xl px-3 hover:bg-blue-500 hover:border-white flex items-center justify-center">Sign Up</a>
        <!-- <button class="font-semibold border-2  border-black rounded-xl px-3 hover:bg-blue-500 hover:border-white" onclick="">Login</button>
        <button class="font-semibold border-2  border-black rounded-xl px-3 hover:bg-blue-500 hover:border-white">Sign up</button> -->
    </div>
</div>

