<%- include('../partials/header.ejs') %>
    <div class="w-screen h-screen flex gap-2  item-center justify-start flex-col   overflow-hidden ">
        <%- include('../partials/nav.ejs') %>

            <h1 class="text-center text-3xl">Welcome to your Blog application</h1>
            <!-- <%- include(`./login.ejs`)  %> -->
    </div>
    <%- include(`../partials/footer.ejs`)%>