<%- include('../partials/header.ejs')%>

<div class="w-screen h-screen bg-gray-600 flex items-center justify-center flex-col gap-5 text-white">


    <h2 class="text-5xl underline font-semibold ">Login</h2>
    <form action="/login" method="POST" class="border-2  h-1/2 w-1/3 flex items-center justify-center flex-col gap-3 rounded-lg">
        <div class="bg-white border-[1px] rounded-full flex items-center justify-start p-2 w-1/2 overflow-hidden">
            <i class="ri-mail-fill text-2xl text-black"></i>
            <input type="email" name="email" required class="w-full h-full outline-none border-none pl-2" placeholder="Enter email"><br><br>
        </div>
        
        <div class="bg-white border-[1px] rounded-full flex items-center justify-start p-2 w-1/2 overflow-hidden">

            <i class="ri-lock-fill text-2xl text-black"></i>
            <input type="password" name="password" required class="w-full h-full outline-none border-none pl-2" placeholder="Enter password"><br><br>
        </div>
        
        <button type="submit" class="border-2 px-4 py-2 rounded-full hover:bg-green-300 hover:border-black hover:text-black font-semibold">Login</button>
        <h1>Dont have an account <a href="/login" class="underline hover:text-blue-400">SignUp</a></h1>
    </form>
</div>
    <%- include('../partials/footer.ejs')%>
