<%- include('../partials/header.ejs')%>
<div class="w-screen h-screen bg-gray-400 flex items-center justify-center flex-col gap-5 ">

    <h2>Sign Up</h2>
    <form action="/sign-up" method="POST" enctype="multipart/form-data">
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <label for="profileImage">Profile Image:</label>
        <input type="file" name="profileImage"><br><br>

        <button type="submit">Sign Up</button>
    </form>
    </div>
    <%- include('../partials/footer.ejs')%>

